.btn-men{
    width: 200px;
    height:52px;
    background: #FFF;
    margin-left: 23px;
    
}
.btn-text-login{
    margin-left: 0PX;
    margin-top: 10px;
    font-size: 18px;
    font-weight: normal;
    color: #5D5D5D;
    
}