.container-recuperar{
   margin-top: 10px;
    .form-container{
        margin-top: 80px;
        height: 300px;
    }

    .btn-text{
        font-weight: bold; 
    }
}
.container-recuperar-button{
    padding-top: 20px;
}

