.auth-container{
    display: flex;
    padding: 0px 40px 0px 0px;
    justify-content: center;
}
.auth-info-title{
    margin-top: 40px;
    font-size: 25px;
    line-height: 30px;
    color:#5399BD;
    text-align: center;
}

.container-image{
    height: 415px;
    width: 645px;
}