.nav-container{
    width: 1381px;
    height: 101px;
    box-shadow: 0px 3px 6px #00000054;
    opacity: 1;
    align-items: center;
    
}

.nav-icon{
    align-content: center;
    margin: 0px 0px 40px 20px;
    width: 100px;
    height: 50px;
    color: #fff;
}
.nav-logo{
    color: #fff;

}


.nav-icon2{
    align-content: center;
    padding-top: 5px;
    text-align: left;
    font-style: italic;
    letter-spacing: 2px;
    color: #FFFFFF;
    opacity: 1;
}
.link-text-menu{
    padding-left: 20px;
}

.main-menu{
    align-items: center;
    margin-top: 20px;
    display: flex;
    font-size: 19px;
    font-weight: normal;
    width: 700px;
    justify-content: space-between;
    a{
        font-style: normal;
        color:#fff;

        &.active{
            font-weight: bold;
            color: #FFF;
        }

        &:hover{
            color: #FFF;
        }
    }
}