.btn-form{
    width: 200px;
    height:52px;
    background: #FFF;
    margin-left: 23px;
    box-shadow: 0px 3px 6px;
    border-radius: 34px;
    
}
.btn-text{
    margin-left: 0PX;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;    
}