.btn-menu{
    width: 192px;
    height: 52px;
    margin-left: 80px;
    background: var(--unnamed-color-f69c00) 0% 0% no-repeat padding-box;
    background: #F69C00 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000054;
    border-radius: 34px;
    opacity: 1;
    align-items: center;;
}
.text-btn-menu{
    width: 170px;
    height: 40px;
    text-align: center;
    font-weight: normal;
    font-size: 17px;
    letter-spacing: 0px;
    color: #315B70;
    opacity: 1;
}