.btn-men{
    width: 200px;
    height:52px;
    background: #fff;
    border-radius: 38px;
    box-shadow: 0px 3px 6px;;
    margin-left: 23px;
    
}
.btn-text-cancel{
    margin-left: 0PX;
    margin-top: 10px;
    font-size: 18px;
    font-weight: normal;
    color: #F69C00;
}